body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url(E:\Wildlens3\frontend\public\fond.jpg);
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 160px;
}

.header {
  background-color: #31C48D;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 150px;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo {
  max-height: 150px;
  width: auto;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 160px); 
  margin-top: 180px; 
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 20px;
}

.form-container-login{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  top:500px;
}

.form-box{
  background: white;
  padding: 50px;
  width: 500px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 200px;
  
}


.form-box input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


button {
  background-color: #31C48D;
  color: white;
  border: none; 
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%; 
  max-width: 300px; 
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; 
  position: relative;
  right: -15px;
}


button:hover {
  background-color: #28A878;
}
.text-danger {
  color: red; 
  font-size: 0.9em;
}

.form-box form {
  display: flex;
  flex-direction: column;
  gap: 10px; 
 
}

.form-box .btn {
  display: block; 
  width: 100%; 
}

.empreinte-image {
  max-width: 600px;
  max-height: 40;
  display: block;  
  margin: 20px auto; 
  border-radius: 10px; 
}




/* Bouton photo */
 .stop-button{
  background-color: #31C48D;
  border: none;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s;
  margin: 10px;
  
}

.camera-button:hover, .stop-button:hover{
  background-color: #28A878;
}

/* Responsive */
@media (max-width: 768px) {
  .scan-text {
    font-size: 22px; 
  }

  .empreinte-image {
    max-width: 95%;
    max-height: 320px;
  }

  
}


.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto; 
  margin-top: 500px; 
  padding-bottom: 50px;
}

.dashboard-title {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  color: rgb(0, 0, 0);
  margin-bottom: 0; 
  border: 1px solid #ccc;
  background-color: rgba(255, 255, 255, 0.749);
  border-radius: 5px;
}
.camera-feed {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

video {
  width: 100%;
  max-width: 400px;
  border: 2px solid #31C48D;
  border-radius: 10px;
}
.logout-button {
  background-color: #31C48D;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
  position: absolute; 
  right: 10px; 
  width: auto;
  max-width: 200px;
  top: 150px;
}

.logout-button:hover {
  background-color: #2AA075;
}

.camera-button{
  background-color: #31C48D;
  border: none;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s;
  margin: 10px;
  margin-right: 10px;
}


.result-container {
  margin-top: 20px;
  text-align: left;
}

.captured-image {
  max-width: 300px;
  margin-top: 10px;
  border-radius: 5px;
}

.camera-container {
  position: relative;
  display: inline-block;
}

.capture-button {
  background-color: #31C48D;
  border: none;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s;
  margin: 10px;
}

.result-container{
  background: white;
  padding: 50px;
  width: 500px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 200px;
  
}